:root {
  --bg-color: rgb(254, 243, 247);
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
}

* {
  font-family: "Gill Sans", sans-serif;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.container h1 {
  font-size: 3.3vw;
  color: rgb(72, 43, 55);
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container img {
  width: 15%;
  margin-top: 6%;
}

.list p {
  font-size: 1.3vw;
  color: rgb(72, 43, 55);
  margin: 5px 0;
}

.container footer {
  font-size: 1vw;
  margin: 40px 0;
}
