:root {
  --bg-color: rgb(254, 243, 247);
  --text-color: #fff;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  height: 100%;
}

* {
  font-family: "Gill Sans", sans-serif;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
}

.container main {
  height: 95%;
}

.container h1 {
  font-size: 3.3vw;
  color: rgb(72, 43, 55);
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h2 {
  font-size: 2vw;
  color: rgb(72, 43, 55);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tech-content {
  margin-top: 4%;
}

.soft-content {
  margin-top: 4%;
}

.tech-pic img {
  width: 5%;
  margin-top: 10%;
}

.soft-pic img {
  width: 5%;
  margin-top: 3%;
}

.container p {
  font-size: 1.3vw;
  color: rgb(72, 43, 55);
  margin: 5px 0;
}

.container footer {
  font-size: 1vw;
}
